@mixin form-input {
  height: 50px;
  border: 1px solid $border-color;
  border-radius: 5px;
  background-color: #f7f7fa;
  color: $text-color-input;
  text-align: center;
  font-size: 17px;
  font-weight: 600;

  &:hover {
    color: darken($color: $text-color-input, $amount: 5%);
    background-color: darken($color: #f7f7fa, $amount: 5%);
  }

  &:active {
    color: darken($color: $text-color-input, $amount: 10%);
    background-color: darken($color: #f7f7fa, $amount: 10%);
  }
}
